/* article p:first-child {
    font-size: 120%;
    font-weight: bold;
} */

article p:first-child::first-line {
    font-size: 120%;
    font-weight: bold;
}


a:link,
a:visited {
    color: rebeccapurple;
    font-weight: bold;
}

a:hover {
    color: hotpink;
}

/* .box::before {
    content: "This should show before the other content. ";
} */

.box::after {
    content: " ➥";
}

.box::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    border: 1px solid black;
}