.box {
    inline-size: 150px;
    border: 1px solid rebeccapurple;
}

.horizontal {
    writing-mode: horizontal-tb;
}

.vertical {
    writing-mode: vertical-rl;
}

.section1 {
    .box {
        border: 5px solid rebeccapurple;
        background-color: lightgray;
        padding: 40px;
        margin: 40px;
        writing-mode: vertical-rl;
    }
}

.section2 {
    .box {
        border: 5px solid rebeccapurple;
        background-color: lightgray;
        padding: 40px;
        margin: 40px;
        inline-size: 200px;
        block-size: 100px;
    }

}

.section3 {
    .box {
        inline-size: 150px;
        block-size: 150px;
        border-block-start: 5px solid rebeccapurple;
        border-inline-end: 5px solid grey;
        border-block-end: 5px dotted red;
        border-inline-start: 5px dotted blue;
        padding-block-start: 40px;
        margin-block-end: 30px;
    }

}