@layer B,
A;

h1 {
    color: orange;
    background-color: green;
    text-decoration: overline pink !important;
    box-shadow: 5px 5px lightgreen !important;
}

@layer A {
    h1 {
        color: grey;
        background-color: black !important;
        text-decoration: line-through grey;
        box-shadow: -5px -5px lightblue !important;
        font-style: normal;
        font-weight: normal !important;
    }
}

@layer B {
    h1 {
        color: aqua;
        background: yellow !important;
        text-decoration: underline aqua;
        box-shadow: -5px 5px magenta !important;
        font-style: italic;
        font-weight: bold !important;
    }
}

/*
importance
origin (user-agent, author, user)
layer
specifity (inline, id, class, element)
source (external style, embedded style)
inheritance
order in code
*/